{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{% set title = _('Confirm Question') %}
{% set classes = 'questions' %}

{% block content %}
<div class="confirm-question">
  <h2>{{ _('Thanks for confirming your email address.')}}</h2>
  <h3>{{ _('Please confirm below that you submitted the following question:')}}</h3>
  <h3>{{ question.title }}</h3>
  <h3>{{ _('Once you do so, your question will be publicly available on the Firefox
  Support Forums for our community volunteers to help answer.  We'll email you
  whenever someone responds.')}}</h3>
  <form action="" method="post">
    {{ csrf() }}
    <div class="submit-or-cancel">
      <a href="{{ url('questions.questions') }}">{{ _('Cancel') }}</a>
      <input type="submit" value="Confirm"/>
    </div>
  </form>
</div>
{% endblock %}
